
.form-contr,
.form-sel{
    border: none;
    color: var(--bg-marron-1);
    background-color: var(--bg-marron-2);
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    padding: .5rem;
    border-radius: 4px;
    margin: .5rem;
}