/*extra margin bottom:*/
.extra-mb-6{
    margin-bottom: 3.5rem;
}

.extra-mb-7{
    margin-bottom: 4rem;
}

.extra-mb-8{
    margin-bottom: 4.5rem;
}

.extra-mb-9{
    margin-bottom: 5rem;
}

.extra-mb-10{
    margin-bottom: 5.5rem;
}